html, body {
  background-color: #BC544B;
  height: 100%;
  width: 100%;
}
.jumbotron{
  background-image: url("https://img.freepik.com/premium-photo/ripe-apples-branches-apple-tree-concept-harvesting-apples-panoramic-banner_341862-13818.jpg?w=2000");
  background-position: center;
}
.shy_apple{
  color:white;
}
.shy_apple:hover{
 text-decoration: underline;
  color: crimson;
  transition-duration: .5s;
  font-weight: lighter-bold;
}
.intro:hover{
  border-radius: 10px;
  border-color:lightgrey;
  transition-duration: .2s;
}

.round{
  border-radius: 8px;
justify-content: center;
  margin-left:auto;
  margin-right: 50%;
}

.round:hover{
  border-radius: 15px;
  transition-duration: .3s;
}
.download {
  width: 280px;
  text-decoration: none;
  background-color: DodgerBlue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
}
.download:hover {
  background-color: RoyalBlue;
  color: white;
}
.download:active {
  background-color: RoyalBlue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}